.body
{
    height:100vh;
    overflow:hidden;
    background: linear-gradient(rgba(37, 24, 24, 0.1),rgba(12, 4, 4, 0.486)), url("../logo-removebg-preview.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page{
    height:100vh;
}
.page2{
    height:50vh
}
.shadow{
    box-shadow:2px 2px 1px 1px rgb(165, 164, 164);
}
.padded{
    padding-top: 150px;
}
